<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header"> 
        </div>   
        <div class="single-page-nav sticky-wrapper" id="tmNavbar">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['']" routerLinkActive="router-link-active" class="content-link">Inicio</a></li>
                <li><a [routerLink]="['/verNoticias']" routerLinkActive="router-link-active" class="content-link">Noticias</a></li>
                <li><a [routerLink]="['/servicioalcliente']" routerLinkActive="router-link-active" class="content-link">Servicio al Cliente</a></li>
            </ul>
        </div>   
    </div>
</nav>   

<div id="section1">
    <header id="header-area" class="intro-section">
    </header>
</div>